@import url("/src/style/theme.css"); 

.n-input {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.n-input > * {
  display: block;
}

.n-input__input {
  outline: none;
  display: inline-block;
  border: 0;
  line-height: 1;
  transition: box-shadow var(--n-transition-time);
  caret-color: var(--n-theme-primary);
  color: var(--n-dark-2);
}
.n-input__input:not(:placeholder-shown) + .n-input__label,
.n-input__input:focus + .n-input__label  {
  translate: 0 -160%;
  font-size: 0.9rem;
}
.n-input__input--default {
  box-shadow: var(--n-light-2) 0px 0px 0px 1px inset;
  border-radius: 6px;
  padding: 8px;
}
.n-input__input--default:hover {
  box-shadow: var(--n-dark-2) 0px 0px 0px 1px inset;
}
.n-input__input--default:focus {
  box-shadow: var(--n-theme-primary) 0px 0px 0px 2px inset;
}
.n-input__input--basic {
  box-shadow: var(--n-light-2) 0px 1px 0px 0px;
  padding-block: 8px;
  padding-inline: 2px;
}
.n-input__input--basic:hover {
  box-shadow: var(--n-dark-2) 0px 1px 0px 0px;
}
.n-input__input--basic:focus {
  box-shadow: var(--n-theme-primary) 0px 1px 0px 0px;
}

.n-input__label {
  position: absolute;
  pointer-events: none;
  padding: 8px;
  translate: 0 -90%;
  transition: translate var(--n-transition-time) ease-out, font-size var(--n-transition-time) ease-out;
  color: var(--n-dark-2);
}
.n-input__small {
  font-size: 0.75rem;
}