.n-input {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.n-input > * {
  display: block;
}

.n-input__input {
  border: 0;
  border-radius: 3px;
  box-shadow: #aaa 0px 0px 0px 1px inset;
  transition: box-shadow 0.3s;
  outline: none;
  display: inline-block;
  line-height: 1;
  padding: 8px;
  caret-color: #ffa1e3;
}
.n-input__input:hover {
  box-shadow: #555 0px 0px 0px 1px inset;
}
.n-input__input:not(:placeholder-shown) + .n-input__label,
.n-input__input:focus + .n-input__label  {
  translate: 0 -160%;
}
.n-input__input:focus {
  box-shadow: #ffa1e3;
}

.n-input__label {
  position: absolute;
  padding: 8px;
  pointer-events: none;
  translate: 0 -90%;
  transition: translate 0.2s ease-out;
  color: #222;
}
.n-input__small {
  font-size: 0.75rem;
}
/* .n-input--primary {
  color: white;
  background-color: #1ea7fd;
}
.n-input--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.n-input--small {
  font-size: 12px;
  padding: 10px 16px;
}
.n-input--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.n-input--large {
  font-size: 16px;
  padding: 12px 24px;
} */
