:root {
    --n-theme-primary: #ffa1e3;
    --n-theme-secondary: #ffa1e3;

    --n-dark-0: #222222;
    --n-dark-1: #383838;
    --n-dark-2: #4f4f4f;
    --n-light-0: #f2f2f2;
    --n-light-1: #e9e9e9;
    --n-light-2: #d3d3d3;
  }
  